<ul>
  <li>{{todo.name}}</li>
  <li>{{todo.description}}</li>
</ul>
<input type="button" value="Update todo" (click)="updateTodo()" />
<br/>
<br/>
<input type="button" value="Clear todos" (click)="clearTodos()" />
