<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Angular Effects: </h2>
<app-to-do></app-to-do>

<router-outlet></router-outlet>
